.card{
    border: 1px  black;
    border-radius: 10px;
    width: 50%;
    /* text-align: center; */
    margin: auto;
    padding-bottom: 3%;
    background-color: #50C878;
    box-shadow: 2px 0px 5px 4px rgba(0,0,0,0.75);
}
.all{
    text-align: center;
}
input,select,textarea{
    border-radius: 6px;
    border: none;
}
.all h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search{
    text-align: center;
    display: flex;
    gap: 20px;
    /* background-color: red; */
}
.search button{
    /* padding: px 30px; */
    border-radius: 5px;
    padding:5px 10px ;
}
.search input{
    padding: 4px;
    width: 60%;
    margin-left: 20px;
}
.search label{
    margin-left: 20px;
}
.id{
    margin-top: 5%;
   margin-right: 20px;
    text-align: right;
}
.id input{
    width: 20%;
}
.heading{
    text-align: start;
    
    margin-left: 3%;
}
.heading h3{
    color: white;
}
.name{
    margin-left: 4%;
    display: flex;
    width: 100%;

}
.name select{
    padding: 5px ;
}
.name input{
    margin-left: 3%;
    padding: 8px 8px;
    width: 100%;
}
.detail{
    margin-top: 4%;
    margin-left: 4%;
    
}
.dob{
    margin-left: 2%;
    padding: 8px 8px;
    width: 50%;
}
.dd,.mm,.yy{
    margin-left: 2%;
    width: 5%;
}
.sec-detail{
    margin-top: 4%;
    margin-left: 4%;
}
.phone{
    margin-left: 2%;
    padding: 8px 8px;
    width: 40%;
}
.email{
    margin-left: 2%;
    padding: 8px 8px;
    width: 40%;
}
.address{
    margin-top: 4%;
    margin-left: 4%;
}
.address textarea{
    margin-left: 2%;
    padding: 8px 8px;
    width: 85%;
}
.address label{
    margin-left: 2%;
}
.buttons{
    margin-top: 3%;
    text-align: center;
}
.buttons button{
    padding: 8px 20px;
    margin-left: 4%;
    background-color: white;
    color: #ee6c4f;
    border: none;
    border-radius: 5px;
}
.close{
    text-align: end;
    margin-top: 1%;
    margin-right: 3%;
}