@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
}.all{
    
    .navbar{
        height: 80px;
        width: 100%;
        display: flex;
        
        box-shadow: 0px 3px 5px 0px rgba(140,140,140,1);
    }
    .left{
        margin-left: 18%
        
    }
    .left img{
        width: 76%;
        // padding-top: 1%;
        padding-bottom: 3%;
    }
    .right{
        display: flex;
        padding-right: 20%;
        padding-top: 2%;
    }
    .right ul{
        display: flex;
        
        gap: 25px;
        
    }
    .right ul li{
        color:#252525;
        font-size: 12px;
        font-weight: 500;
        font-family:'Ubuntu', sans-serif;
        
    }
    li {
        margin-bottom: 10px;
    }
    
    .cool-link {
        display: inline-block;
        color:#252525;
        text-decoration: none;
    }
    
    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #000;
        transition: width .3s;
    }
    
    .cool-link:hover::after {
        width: 100%;
        //transition: width .3s;
    }
   
}